In [1]:
import pandas as pd
import os

In [2]:
# Files to load
top_40_to_load = os.path.join("Resources", "top40_1997_2022_raw.csv")

In [3]:
# Read the data file and store it in a Pandas DataFrame.
top_40_df = pd.read_csv(top_40_to_load)
top_40_df

,week,position,song,artist
0,7/7/1997,1,Mmm Bop,Hanson
1,7/7/1997,2,Bitch,Meredith Brooks
2,7/7/1997,3,Say You'll Be There,Spice Girls
3,7/7/1997,4,Return Of The Mack,Mark Morrison
4,7/7/1997,5,Sunny Came Home,Shawn Colvin
...,...,...,...,...
52763,10/15/2022,36,Alone,Rod Wave
52764,10/15/2022,37,Big Time,"DJ Khaled, Future &amp; Lil Baby"
52765,10/15/2022,38,Under The Influence,Chris Brown
52766,10/15/2022,39,Romantic Homicide,d4vd
52767,10/15/2022,40,What My World Spins Around,Jordan Davis

In [4]:
# Read the data file and store it in a Pandas DataFrame.
top_40_df = pd.read_csv(top_40_to_load)
top_40_df.head()

       week  position                 song           artist
0  7/7/1997         1              Mmm Bop           Hanson
1  7/7/1997         2                Bitch  Meredith Brooks
2  7/7/1997         3  Say You'll Be There      Spice Girls
3  7/7/1997         4   Return Of The Mack    Mark Morrison
4  7/7/1997         5      Sunny Came Home     Shawn Colvin

Checking for Duplicates

In [5]:
# Find shape of dataframe
top_40_df.shape

(52768, 4)

In [6]:
# Find the sum of duplicates in the dataframe. These would be true repeats in the data
top_40_df.duplicated().sum()

0

In [7]:
# Double checking the sum of duplicates in all columns. These would be true repeats in the data
top_40_df.duplicated(subset=['song','artist','position','week']).sum()

0

In [8]:
# Find the sum of duplicates in the song, artist, position columns. These songs were ranked the same on different dates
top_40_df.duplicated(subset=['song','artist','position']).sum()

15777

In [9]:
# Find the sum of duplicates in the song and artist columns. This shows a song's performance over time
top_40_df.duplicated(subset=['song','artist']).sum()

48311

Removing Featured artists

In [32]:
# Delete featured artists from artist column
top_40_df['artist'] = [x.split(' &amp')[0].split(' (featuring')[0].split(' Featuring')[0].split(' Feturing')[0].split(' (feturing')[0].split(' Feat.')[0] for x in top_40_df['artist']]
top_40_df

             week  position                        song             artist
0        7/7/1997         1                     Mmm Bop             Hanson
1        7/7/1997         2                       Bitch    Meredith Brooks
2        7/7/1997         3         Say You'll Be There        Spice Girls
3        7/7/1997         4          Return Of The Mack      Mark Morrison
4        7/7/1997         5             Sunny Came Home       Shawn Colvin
...           ...       ...                         ...                ...
52763  10/15/2022        36                       Alone           Rod Wave
52764  10/15/2022        37                    Big Time  DJ Khaled, Future
52765  10/15/2022        38         Under The Influence        Chris Brown
52766  10/15/2022        39           Romantic Homicide               d4vd
52767  10/15/2022        40  What My World Spins Around       Jordan Davis

[52768 rows x 4 columns]

In [34]:
# Create index with drop conditions
Index_def = top_40_df[(top_40_df['artist']=='<img border="0" class="lazyimg" src="https://top40-charts.com/images/spacer.gif" width="75"/>') |
                      (top_40_df['artist']=='<img border="0" class="lazyimg" height="75" src="https://top40-charts.com/thumb.php?x=75&amp;i=https://www.top40-charts.com/html/songs/song-1826-cover.jpg" width="75"/>') |
                      (top_40_df['artist']=='<img border="0" class="lazyimg" height="75" src="https://top40-charts.com/thumb.php?x=75&amp;i=https://www.top40-charts.com/html/songs/song-251-cover.jpg" width="75"/>') |
                      (top_40_df['artist']=='<img border="0" class="lazyimg" src="/images/spacer.gif" width="75"/>') |
                      (top_40_df['artist']=='<img border="0" class="lazyimg" height="75" src="https://top40-charts.com/thumb.php?x=75&amp;i=https://www.top40-charts.com/html/songs/song-40485-cover.jpg" width="75"/>') |
                      (top_40_df['artist']=='<img border="0" class="lazyimg" height="75" src="https://top40-charts.com/thumb.php?x=75&amp;i=https://www.top40-charts.com/html/songs/song-40496-cover.jpg" width="75"/>') |
                      (top_40_df['artist']=='<img border="0" class="lazyimg" height="75" src="https://top40-charts.com/thumb.php?x=75&amp;i=http://a5.mzstatic.com/us/r30/Music1/v4/8a/5d/db/8a5ddb89-55e5-55cd-dfbc-aad1caabeab0/cover170x170.jpeg" width="75"/>') |
                      (top_40_df['artist']=='<img border="0" class="lazyimg" height="75" src="https://top40-charts.com/thumb.php?x=75&amp;i=https://images-na.ssl-images-amazon.com/images/I/51-7%2B6XeqyL._SS280.jpg" width="75"/>') |
                      (top_40_df['artist']=='<img border="0" class="lazyimg" height="75" src="https://top40-charts.com/thumb.php?x=75&amp;i=http://a3.mzstatic.com/us/r30/Music49/v4/90/ee/8b/90ee8b1a-460e-d846-8959-057151515e87/cover170x170.jpeg" width="75"/>') |
                      (top_40_df['artist']=='<img border="0" class="lazyimg" height="75" src="https://top40-charts.com/thumb.php?x=75&amp;i=https://i.ytimg.com/vi/bNHR_9q1nIQ/hqdefault.jpg" width="75"/>') |
                      (top_40_df['artist']=='<img border="0" class="lazyimg" height="75" src="https://top40-charts.com/thumb.php?x=75&amp;i=https://www.top40-charts.com/html/songs/song-43324-cover.jpg" width="75"/>')].index

In [35]:
# Delete rows contanining <img data where artist name should be. 336 rows total
top_40_df_2 = top_40_df.drop(Index_def)

In [36]:
top_40_df_2

             week  position                        song             artist
0        7/7/1997         1                     Mmm Bop             Hanson
1        7/7/1997         2                       Bitch    Meredith Brooks
2        7/7/1997         3         Say You'll Be There        Spice Girls
3        7/7/1997         4          Return Of The Mack      Mark Morrison
4        7/7/1997         5             Sunny Came Home       Shawn Colvin
...           ...       ...                         ...                ...
52763  10/15/2022        36                       Alone           Rod Wave
52764  10/15/2022        37                    Big Time  DJ Khaled, Future
52765  10/15/2022        38         Under The Influence        Chris Brown
52766  10/15/2022        39           Romantic Homicide               d4vd
52767  10/15/2022        40  What My World Spins Around       Jordan Davis

[52432 rows x 4 columns]

In [38]:
top_40_df_2.to_csv('top_40_cleaned_data_analysis.csv')